body {
  font-size: 14px;
  color: black;
  line-height: 30px;
  font-family: 'Oswald',"Arial", sans-serif;
  margin: 0 auto;
  min-width: 640px;
  max-width: 1370px;
}
img {
  max-width: 100%;
  height: auto;
}

@media ($desktop-width) {
  body {
    margin: 0 auto;
  }
}
